.table {
    margin: 0 auto;
    padding-bottom: 10px;
}

td, th {
        width: 200px;
        text-align: center;
        border: 2px solid #000;
        padding: 7px;
      }
caption {
    font-size: 20px;
    padding: 10px;
    font-weight: 600;
}
